nav.navbar {
  font-family: 'Abril Fatface', sans-serif;
  margin-bottom: 100px;
}

nav.navbar .container {
  margin-top: 20px;
}

nav.navbar .navbar-brand {
  color: white;
  padding-top: 5px;
  font-weight: bold;
  height: 3em;
}

nav.navbar .navbar-brand img {
  height: 7em;
  display: inline-block;
}

nav.navbar ul a {
  text-transform: uppercase;
  background: none !important;
  transition: color 0.2s;
}

nav.navbar ul:hover a {
  color: rgba(255, 255, 255, 0.6);
}

nav.navbar ul:hover a:hover,
nav.navbar a,
nav.navbar a:active,
nav.navbar a:visited
nav.navbar a:hover {
  color: white;
  font-size: 14pt;
}

@media screen and (max-width: 767px) {
  nav.navbar {
    margin-bottom: 0;
  }
  
  nav.navbar .navbar-brand {
    display: none;
  }
  
  nav.navbar .navbar-toggle {
    border-color: white;
  }
  
  nav.navbar .navbar-toggle .icon-bar {
    background-color: lightgray;
  }
}