section#quote form label {
  font-family: 'Futura PT Heavy', sans-serif;
  font-size: 18px;
  color: white;
}

section#quote form .form-control {
  font-size: 16px;
}

section#quote #map {
  width: 100%;
  height: 200px;
  background-color: gray;
}