$brand-red: #D83232;
$brand-red-light: #E84242;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
}

h3 {
  font-family: 'Economica', sans-serif;
  font-size: 28pt;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-top: 10px;
  }
}

h5 {
  text-transform: uppercase;
  font-family: 'Futura PT Heavy', sans-serif;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
}

h6 {
  text-transform: uppercase;
  font-family: 'Economica', sans-serif;
  letter-spacing: 1px;
  font-size: 12pt;
  color: lightgray;
}

p {
  color: lightgray;
  font-family: 'Minion Pro', serif;
  font-size: 16pt;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 35px;
}

a {
  color: $brand-red;

  &:hover {
    color: $brand-red-light;
  }
}

.button {
  display: inline-block;
  font-family: 'Economica', sans-serif;
  font-size: 10pt;
  letter-spacing: 1.5px;
  background: none;
  border: 2px solid $brand-red;
  font-size: 14px;
  color: red;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: background 0.25s, color 0.25s;
  margin: 20px 0;

  &:hover {
    background-color: $brand-red;
    color: white;
    text-decoration: none;
  }
}

hr {
  border-top: 2px solid $brand-red;
  margin-top: 20px;
  margin-bottom: 30px;
}

footer {
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 250px;
  font-family: 'Futura PT Heavy', sans-serif;

  h2 {
    margin-bottom: 40px;
  }

  div {
    margin-top: 40px;

    a {
      color: white;
      transition: color 0.2s;
      font-size: 24px;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
      }
    }
  }
}