{{#> layouts/base title="Services" }}

  {{#*inline "heading" }}
    <div class="row">
      <div class="col-md-6">
        <h2>Services</h2>
        <hr />
      </div>
    </div>
  {{/inline}}
  
  {{#*inline "content" }}
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Landscaping</h3>
            <p>Nothing can detract more from your home than a poor landscape. We are here to help you, to achieve functionality as well as beauty. To design an outdoor space for your busy life. We will help choose the proper grass for the location, as well as plants that will ﬂourish in your yard and continue to grow to enhance the beauty of your home.</p>
            <h3>Irrigation</h3>
            <p>Tired of dragging hoses? Then you need an automatic irrigation system!</p>
            <p>Automatic irrigation saves you money and water at the same time. The system measures the water out exactly. Each head is calibrated to release a certain amount of water. With our sophisticated controllers we can put out exactly the amount of water required in each area of the landscape.</p>
            <p>With automatic irrigation systems in place you will ﬁnd that your landscape is better equipped to save itself from disease and injury. Automatic systems also utilize drip emitters at the base of the plants. This allows water to be applied directly to the plant and not waste water unnecessarily on areas that don't need it and by extension save you money!</p>
          </div>
          <div class="col-md-6">
            <h3>Fencing</h3>
            <p>We install all types of fencing. Both wood and iron. Want something different?  We can design and install custom modern fencing that enhances the look of your home and modern life.</p>
            <h3>Hardscapes</h3>
            <p>These are the anchor of your landscape. This is what builds up, levels and molds your space. Hardscapes help to control nature in both form and function using rock, stone, pavers, wood or metal. This will help form a space where living outside is comfortable and inviting. This space will beckon you to ﬁre up the grill and taste something amazing. It is where friends and family come to gather, to sit around a warm ﬁre with a great drink, to share stories and memories that last forever!</p>
            <h3>Lighting</h3>
            <p>We use low voltage systems because of the many advantages. Low voltage systems generally operate at 12 volts or lower, however the new LED systems are quickly becoming very popular    because of longevity of the bulbs and the ﬂexibility of control for the customer. That makes these systems perfect for underwater or near water applications, as well as outdoor garden areas.  There is a wide assortment of ﬁxtures available for all styles and taste. Outdoor Lighting can create striking and  dramatic accents to homes architectural features. Underwater lights can illuminate waterfalls and ground-mounted spots will cast a beautiful glow under the trees. Outdoor lighting will not only provide beauty but added security for your family!</p>
          </div>
        </div>
      </div>
    </section>
  {{/inline}}

{{/layouts/base}}