<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <meta name="description" content="From small to large projects, we look forward to getting you what you want out of your yard. Our team will design a beautiful, useful space for your family.">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDRC62K');</script>
    <!-- End Google Tag Manager -->

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" integrity="sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=" crossorigin="anonymous" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" type="text/css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Economica:wght@700&display=swap">
    <link rel="stylesheet" href="fonts/didot/didot.css" type="text/css">
    <link rel="stylesheet" href="fonts/futura-pt/futura-pt-heavy.css" type="text/css">
    <link rel="stylesheet" href="fonts/minion/minion-pro.css" type="text/css">

    <link rel="stylesheet" href="css/theme.css" type="text/css">
    <link rel="stylesheet" href="css/navigation.css" type="text/css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{#> head-block}}
        {{! Custom CSS per page can be added. }}
    {{/head-block}}

    <title>{{#if title}}{{title}} - {{/if}}Ground Effects</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDRC62K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{#> header-block }}
        <header id="top">
            {{> nav }}
            <div class="container">
                {{> heading }}
            </div>
        </header>
    {{/header-block}}

    {{> content }}

    <div class="container"><hr></div>

    <footer id="footer">
        <h2>Get A Quote</h2>
        <a href="/quote" class="button">Request</a>
        <div>
            <a href="http://www.houzz.com/pro/tqburns/ground-effects-landscaping">Houzz</a>
            &bull;
            <a href="https://www.facebook.com/Ground-Effects-Landscaping-161070937278668">Facebook</a>
            &bull;
            <a href="https://www.instagram.com/groundefx/">Instagram</a>
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Firebase -->
    <script src="/__/firebase/8.3.1/firebase-app.js"></script>
    <script src="/__/firebase/8.3.1/firebase-analytics.js"></script>
    <script src="/__/firebase/init.js"></script>
    <script>firebase.analytics();</script>
    <script>var exports = {};</script>

    {{#> scripts-block }}
        {{! Custom scripts per page can be added. }}
    {{/scripts-block}}
  </body>
</html>
